@import "foundation";
@import url(https://fonts.googleapis.com/css?family=Kanit:400,800,700);

$breakpoints: map-merge($breakpoints, (large: 1025px));

body {
    background-image: url("/img/space-needle-contrast.jpg");
    background-repeat: round;
}

h1, h2, p {
    color: #999;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    .game-info & {
        font-size: 1.75em;
        color: #69bd28;
    }
}

.bottom {
    margin-bottom: 0;

    &.title-bar {
        padding-bottom: .25em;
        padding-top: .25em;
        background-color: #00295b;
        border: none;

        & p {
            font-weight: 400;
        }
        
        & a {
            color: #69bd28;
        }
    }
}

.countdown p {
    color: #69bd28;
    font-size: 5em;
}

.labels p {
    font-size: 2em;
}