@import "foundation";

$breakpoints: map-merge($breakpoints, (large: 1025px));

.grid-frame {
    background-color: #00295b;
}

h1, p, h4 {
    color: #999;
}

.bottom {
    margin-bottom: 0;
}

// #69bd28