@import "foundation";

$breakpoints: map-merge($breakpoints, (large: 1025px));

body {
    background-image: url("/img/space-needle-cropped.jpg");
    background-repeat: round;
}

// .grid-frame {
//     background-color: #00295b;
// }

h1, h4, p {
    color: #999;
}

.bottom {
    margin-bottom: 0;

    &.title-bar {
        padding-bottom: .25em;
        padding-top: .25em;
        background-color: #00295b;
        color: #999;
        border: none;
        
        & a {
            color: #69bd28;
        }
    }
}