@import "foundation";
@import url(https://fonts.googleapis.com/css?family=Kanit:400,800,700);

$breakpoints: map-merge($breakpoints, (large: 1025px));

$hawksGreen: #69bd28;
$hawksBlue: #00295b;
$gray: #999;

body {
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.5)), url("/img/space-needle-contrast.jpg");
    background-repeat: round;
}

h1, h2, p, label {
    color: $gray;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;

    .game-info & {
        font-size: 1.75em;
        color: $hawksBlue;
    }
}

h2 {
    color: $hawksGreen;
}

label, input {
    color: $hawksBlue;
    font-size: 1.25em;
}

.bottom {
    margin-bottom: 0;

    &.title-bar {
        padding-bottom: .25em;
        padding-top: .25em;
        background-color: $hawksBlue;
        border: none;

        & p {
            font-weight: 400;
        }
        
        & a {
            color: $hawksGreen;
        }
    }
}

.countdown p {
    color: $hawksGreen;
    font-size: 7em;
}

.labels p {
    font-size: 2em;
}